<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/vendor/jquery/jquery.js"></script>
    <link rel="stylesheet" href="/res/style/style-pokemon.css">
    
    <script src="/res/script/script-pokemon.js"></script>
    <script src="/res/script/load-pokemons.js"></script>
    <title></title>
    
</head>
<body>
    <!-- Navbar -->

        <header class="menu-bg">
            <div class="menu" >
                <div class="icon-menu pokedex-logo">
                    <img src="/res/img/pokedex-logo.svg" alt="">
                </div>
                <div class="icon-menu pokeball-logo">
                    <img src="/res/img/pokeball-logo.svg" alt="">
                </div>
                <div class="menu-username">
                    <p></p>
                </div>
            </div>
        </header>  

        
        
        <div class="lateral-menu">
            <div class="img-user-menu">
                <a href="/profile"class="profile-selected" ><img src="/res/img/user-default.jpg" alt="" class="profile-photo"></a>
            </div>
            <div class="lateral-menu-items">
                <ul>
                    <li class="lateral-menu-active">
                        <a href="/pokemon-list"><img src="/res/img/all-pokemons.svg" alt=""><span>Todos Pokemons</span></a>
                    </li>
                    <li>
                        <a href="/my-pokemons"><img src="/res/img/my-pokemons.svg" alt="" ><span>Meus Pokemons</span> </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="menu-mobile">
            <div class="items-menu-mobile">
                
    
                <div class="items-menu-mobile-active">
                    <a href="/pokemon-list"><img src="/res/img/all-pokemons.svg" alt=""><p>Todos Pokemons</p> </a>
                </div>
                <div>
                    <a href="/my-pokemons"><img src="/res/img/my-pokemons.svg" alt=""> <p>Meus Pokemons</p>  </a>
                </div>
                <div class="img-user-menu-mobile">
                    <a href="/profile"><img src="/res/img/user-default.jpg" alt="" class="profile-photo"> <p></p> </a>
                </div>
                 
              
    
            </div>
    
        </div>


    <div class="body-pokedex">
        <div class="search">
            <input type="text">
            <button><img src="/res/img/search.svg" alt=""></button>      
        </div>

        <div class="pokemon-list" id="pokemon-list">
              
        </div>
        <div class="loading-pokemons">
            <div class="gif-loading">
                <img src="/res/img/loading.gif" alt="">
            </div>
        </div>

    </div>
    <div class="modal-pokemon-bg">
        <div class="modal-pokemon">
            <div class="modal-pokemon-img">
                <img src="/res/img/bulbassaur.svg" alt="">
            </div>
            <div class="info">
                <div class="name">
                    <p>Nome</p>
                    <h2 class="name-pokemon"></h2>
                </div>
                <div class="abilities">
                    <p>Habilidades</p>
                    <h2 class="ability-1"></h2>
                    <h2 class="ability-2"></h2>
                </div>
            </div>
        </div>
    </div>


    <div class="options-user-bg options-user-animate">
        <div class="options-user">
            <a href="/">
                <div class="back">
                    <div class="icon-back">
                        <img src="/res/img/back.svg" alt="">
                    </div>
                    <div><p>Voltar para o site</p></div>
                
                </div>
            </a>    
            <a href="/logout">
                <div class="exit">
                    <div class="icon-exit">
                        <img src="/res/img/exit.svg" alt="">
                    </div>
                    <div><p>Sair</p></div>
                </div>
            </a>
    </div>

    

</body>
</html>