<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos Pokemons</title>
    <script src="/vendor/jquery/jquery.js"></script>
    <link rel="stylesheet" href="/res/style/style-pokemon.css">
    <script src="/res/script/script-pokemon.js"></script>
</head>
<body>
    <!-- Navbar -->
   
        <header class="menu-bg">
            <div class="menu">
                <div class="icon-menu pokedex-logo">
                    <img src="/res/img/pokedex-logo.svg" alt="">
                </div>
                <div class="icon-menu pokeball-logo">
                    <img src="/res/img/pokeball-logo.svg" alt="">
                </div>
                <div class="menu-username">
                    <p></p>
                </div>
            </div>
        </header>  

        
        
        <div class="lateral-menu">
            <div class="img-user-menu">
                <a href="/profile" class="profile-selected"><img src="/res/img/user-default.jpg" alt="" class="profile-photo" ></a>
            </div>
            <div class="lateral-menu-items">
                <ul>
                    <li>
                        <a href="/pokemon-list"><img src="/res/img/all-pokemons.svg" alt=""><span>Todos Pokemons</span></a>
                    </li>
                    <li>
                        <a href="/my-pokemons"><img src="/res/img/my-pokemons.svg" alt=""><span>Meus Pokemons</span> </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="menu-mobile">
            <div class="items-menu-mobile">
                
    
                <div >
                    <a href="/pokemon-list"><img src="/res/img/all-pokemons.svg" alt=""><p>Todos Pokemons</p> </a>
                </div>
                <div>
                    <a href="/my-pokemons"><img src="/res/img/my-pokemons.svg" alt=""> <p>Meus Pokemons</p>  </a>
                </div>
                <div class="img-user-menu-mobile items-menu-mobile-active" >
                    <a href="/profile"><img src="/res/img/user-default.jpg" alt="" class="profile-photo"> <p></p> </a>
                </div>
                 
              
    
            </div>
    
        </div>

        



    <div class="body-pokedex">
        <div class="profile-pokedex">
            <div class="user-edit">
                <h2>Usuário</h2>
                <div class="username-edit">
                    <div><p>Username</p></div>
                    <div><img src="/res/img/edit.svg" alt=""></div>
                </div>
            </div>
            <div class="photo-edit">
                <div class="img-edit" id="mask">
                    <div class="button-select-image">
                        <img class="back-select-img" src="/res/img/button-select-img.svg" alt="">
                        <img class="select-img" src="/res/img/photo.svg" alt="">
                        <!-- <div><img src="/res/img/photo.svg" alt=""></div> -->
                    </div>
                    <div class="image">
                        <img src="/res/img/user-default.jpg" alt="" class="profile-photo" >
                    </div>

                    
                </div>
                
                <p></p>
                <form action="/user/changeimage" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="thumb-width" class="thumb-width">
                    <input type="hidden" name="thumb-height" class="thumb-height">
                    <input type="hidden" name="cropp-width" class="cropp-width">
                    <input type="hidden" name="cropp-height" class="cropp-height">
                    <input type="hidden" name="cropp-top" class="cropp-top">
                    <input type="hidden" name="cropp-left" class="cropp-left">
                    <input id="select-file" type="file" accept="image/png, image/jpeg" name="select-image">;
                    
                </form>
                
            </div>
        </div>    


    </div>

    <div class="modal-selected-img-bg">
        <div class="modal-selected-img">
            <div class="selected-img">
                <div class="selector">
                    <div class="selector-size"></div>
                </div>
                <img src="/res/img/user-default.jpg" alt="">
            </div>
            <div class="buttons-modal-selected-img">
                <button class="cancel">Cancelar</button>
                <button class="confirm">Confirmar</button>
            </div>
        </div>

    </div>
    <div class="options-user-bg options-user-animate">
        <div class="options-user">
            <a href="/">
                <div class="back">
                    <div class="icon-back">
                        <img src="/res/img/back.svg" alt="">
                    </div>
                    <div><p>Voltar para o site</p></div>
                
                </div>
            </a>    
            <a href="/logout">
                <div class="exit">
                    <div class="icon-exit">
                        <img src="/res/img/exit.svg" alt="">
                    </div>
                    <div><p>Sair</p></div>
                </div>
            </a>
    </div>

    
   



</body>
</html>