<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos Pokemons</title>
    <link rel="stylesheet" href="/res/style/style-pokemon.css">
</head>
<body>
    <!-- Navbar -->
   
        <header class="menu-bg">
            <div class="menu">
                <div class="icon-menu pokedex-logo">
                    <img src="/res/img/pokedex-logo.svg" alt="">
                </div>
                <div class="icon-menu pokeball-logo">
                    <img src="/res/img/pokeball-logo.svg" alt="">
                </div>
                <div class="menu-username">
                    <a href="">username</a>
                </div>
            </div>
        </header>  

        
        
        <div class="lateral-menu">
            <div class="img-user-menu">
                <a href="/profile" class="profile-selected"><img src="/res/img/user-default.jpg" alt="" ></a>
            </div>
            <div class="lateral-menu-items">
                <ul>
                    <li>
                        <a href="/pokemon-list"><img src="/res/img/all-pokemons.svg" alt=""><span>Todos Pokemons</span></a>
                    </li>
                    <li>
                        <a href="/my-pokemons"><img src="/res/img/my-pokemons.svg" alt=""><span>Meus Pokemons</span> </a>
                    </li>
                </ul>
            </div>
        </div>



    <div class="body-pokedex">
        


    </div>
   



</body>
</html>